.header{
    text-align: center;
}

.header p{
    margin: 0;
    font-weight: 500;
}

.header-info{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;  
}

.header-info img{
    height: 200px;
    margin-top: 0;
    margin-bottom: 0;
}

@media only screen and (max-width: 576px) {
  .header-info img{
    height: 220px;
  }
    
}