.header{
    text-align: center;
}

.header p{
    margin: 0;
}

.header-info{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;  
}

.header h1{
    font-family: 'Courier New', Courier, monospace;
    padding-right: 10px;
}